name: GHCR prune calibre-web
on:
  workflow_dispatch:
permissions:
  contents: read
  packages: write
jobs:
  prune:
    runs-on: ubuntu-latest
    steps:
      - uses: vlaurin/action-ghcr-prune@0cf7d39f88546edd31965acba78cdcb0be14d641 # v0.6.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          packages: |
            ${{ github.repository_owner }}/calibre-web
          prune-untagged: true
          prune-tags-regexes: |
            ^.*$   # delete ALL tags
